{% verbatim %}
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Angular Material style sheet -->
    <link rel="stylesheet"
          href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.css">
    <style>
        .cookie-banner {
          position: fixed;
          left: 10%;
          right: 10%;
          width: 80%;
          padding: 5px 14px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          background-color: #eee;
          border-radius: 5px;
          box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
        }
        .close {
          height: 20px;
          background-color: #777;
          border: none;
          color: white;
          border-radius: 2px;
          cursor: pointer;
        }
        #hidethis { animation: css 0s 5s forwards; }

        @keyframes css  { to { visibility: hidden; } }
    </style>
</head>
<body ng-app="BlankApp" ng-cloak>
<div ng-controller="testController">
    <div layout="column" layout-fill="">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 md-truncate="" flex="">Meme Generator!</h2>
                <md-button ng-if="state != 'LOGIN'" ng-click="logout()">
                    Logout
                </md-button>
            </div>
        </md-toolbar>
        <div ng-if="state == 'MEMES'">
<md-grid-list
        md-cols-xs="1" md-cols-sm="2" md-cols-md="4" md-cols-gt-md="6"
        md-row-height-gt-md="1:1" md-row-height="2:2"
        md-gutter="12px" md-gutter-gt-sm="8px" >

    <md-grid-tile md-rowspan="2" md-colspan="2" md-colspan-sm="1" md-colspan-xs="1" ng-repeat="meme in memes" style="padding-top: 24px !important;">
      <img src="{{meme.url}}" style="object-fit: cover; height: inherit; width: inherit;">
        <md-grid-tile-footer>
        <h3>{{meme.name}}</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    </md-grid-list>
            <div class="cookie-banner" style="bottom: 40px" id="hidethis">
                Hi {{user_data.username}}, you have provided consent for cookies. Your session cookie is: {{ user_data.session_cookie }}.
            </div>
        </div>
        <div ng-if="state == 'LOGIN'">
            <md-card class="box">
                <md-card-header>
                    <md-card-title>Log in</md-card-title>
                </md-card-header>
                <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding>
                    <form name="loginForm" class="example-form">
                        <md-input-container>
                            <label>Username</label>
                            <input required ng-model="loginForm.username">
                        </md-input-container>
                        <md-input-container>
                            <label>Password</label>
                            <input type="password" required ng-model="loginForm.password">
                        </md-input-container>
                        <br>
                        {{error}}
                        <br>
                        <md-button class="md-raised md-primary" ng-disabled="loginForm.$invalid"
                                   ng-click="loginUser(loginForm.username, loginForm.password)">Login
                        </md-button>
                    </form>
                </md-content>
            </md-card>
        </div>
        <div ng-if="state == 'COOKIE_CONSENT'">
            <div class="cookie-banner" style="top: 100px">
                <p>
                    Hi {{user_data.username}}, your session cookie is: <b>{{ user_data.session_cookie }}.</b><br><br>
                    This website collects cookies. Please accept the terms and conditions by pressing the ACCEPT button to
                    continue
                    viewing memes.
                </p>
                <md-button class="md-raised md-primary" ng-click="acceptCookies()">Accept</md-button>
                <md-button class="md-raised" ng-click="denyCookies()">Deny</md-button>
            </div>
        </div>
    </div>
</div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-messages.min.js"></script>

    <!-- Angular Material Library -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.js"></script>

    <!-- Your application bootstrap  -->
    <script type="text/javascript">
    app = angular.module('BlankApp', ['ngMaterial', 'ngMessages']);
    app.controller("testController", function($scope, $http) {
        $scope.state = "LOGIN";
        $scope.user_data = null;
        $scope.memes = null;
        (function() {
            $http.get("/api/v1/users/profile/").then(
                function(data) {
                    $scope.user_data = data.data
                    if ($scope.user_data.cookie_consent_accepted) {
                        $scope.state = "MEMES";
                        $http.get("/api/v1/memes/").then(
                            function(data) {
                                $scope.memes = data.data
                            }
                        );
                    } else {
                        $scope.state = "COOKIE_CONSENT";
                    }
                }
            );

        }());
        $scope.loginUser = function(username, password) {
            $http.post("/api/v1/users/login/", {
                "username": username,
                "password": password
            }).then(
                function successCallback(response) {
                    window.location.reload();
                },
                function errorCallback(response) {
                    alert(response.data.message);
                }
            );
        }
        $scope.acceptCookies = function() {
            $http.patch("/api/v1/users/profile/", {
                "cookie_consent_accepted": true
            }).then(
                function successCallback(response) {
                    window.location.reload();
                }
            );
        }
        $scope.logout = function() {
            $http.get("/api/v1/users/logout/");
            window.location.reload();
        }
        $scope.denyCookies = function() {
            alert("Sorry. We cannot let you view the memes if you don't provide consent for cookies. Press ok to logout.")
            $scope.logout();
        }
    })


    </script>
</body>
</html>
{% endverbatim %}